doctype html
html
  head
    title= "admin | " + board.title
    link(rel="stylesheet" href="/css/src.bundle.css")
  body
    h1= board.title
    h2 admin
    form#board_form(method="PUT" action= "/board/" + board._id)
      h2 BOARD SETTINGS
      div.form-group
        p board title
        input#board_name(type="text", value= board.title)
      div.form-group
        p admin email
        input#board_admin_email(type="text", value= board.admin.email)
      div.form-group
        p admin password
        input#board_admin_pw(type="password", value= board.admin.password)
        p confirm password
        input#board_admin_pw_conf(type="password", value= board.admin.password)
      div.form-group
        p features
        #board_features_text
          span text
          input(type="checkbox" checked= board.features.text)
        #board_features_img_url
          span img via url
          input(type="checkbox" checked= board.features.img_url)
        #board_features_img_upload
          span img upload
          input(type="checkbox" checked= board.features.img_upload)
        #board_features_doodle.block
          span doodle
          input(type="checkbox" checked= board.features.doodle)

        p privacy
        span board private
        input#board_private(type="checkbox" checked= board.privacy.board)
        span board form private
        input#client_private(type="checkbox" checked= board.privacy.client)
      div.form-group
        input#board_submit(type="submit")
    script(src="/js/admin.bundle.js")
