doctype html
html
  head
    title= "admin | " + board.title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="/css/src.bundle.css")
  body(data-slug= board._id)
    h1= board.title
    h2 admin
    div#board_bg_admin
      p change the background change the world
      input.youtube.inline-block(type="text", placeholder="youtube id")
      button.youtube.inline-block submit yt
      input.color.inline-block(type="text", placeholder="hex (e.g. #a0d5f9)")
      button.color.inline-block submit hex
    form#board_form(method="PUT" action= "/board/" + board._id)
      h2 BOARD SETTINGS
      div.form-group
        p board title
        input#board_name(type="text", value= board.title)
      div.form-group
        p admin email
        input#board_admin_email(type="text", value= board.admin.email)
      div.form-group
        p admin password
        input#board_admin_pw(type="password", placeholder="password")
        p confirm password
        input#board_admin_pw_conf(type="password", placeholder="confirm password")
      div.form-group
        p features
        #board_features_text
          span text
          input(type="checkbox" checked= board.features.text)
        #board_features_img_url
          span img via url
          input(type="checkbox" checked= board.features.img_url)
        #board_features_img_upload
          span img upload
          input(type="checkbox" checked= board.features.img_upload)
        #board_features_doodle.block
          span doodle
          input(type="checkbox" checked= board.features.doodle)

        p privacy
        span board private
        input#board_private(type="checkbox" checked= board.privacy.board)
        span board form private
        input#client_private(type="checkbox" checked= board.privacy.client)
      div.form-group
        input#board_submit(type="submit")
    button#board_clear clear board
    script(src="/js/commons.js")
    script(src="/js/admin.bundle.js")
