doctype html
html
  head
    title atwater.yoga
    script(src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js")
  body
    h1 atwater yoga

    h2 CREATE BOARD
    form#board_form(method="POST" action="/board")
      div.form-group
        p board title
        input#board_title(type="text", placeholder="board title")
      div.form-group
        p board id (must be unique)
        input#board_id(type="text", placeholder="board id")
      div.form-group
        p admin email
        input#board_admin_email(type="text", placeholder="admin email")
      div.form-group
        p admin password
        input#board_admin_pw(type="password")
        p confirm password
        input#board_admin_pw_conf(type="password")
      h2 BOARD SETTINGS
      div.form-group
        p features
        span text
        input#board_features_text(type="checkbox" checked)
        span img via url
        input#board_features_img_url(type="checkbox" checked)
        span img upload
        input#board_features_img_upload(type="checkbox" checked)

        p privacy
        span board private
        input#board_private(type="checkbox")
        span board form private
        input#client_private(type="checkbox")
      div.form-group
        input#board_submit(type="submit")
    script(src="/js/create.js")


