doctype html
html
  head
    title atwater.yoga
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="/css/src.bundle.css")
    //- link(rel="stylesheet" href="/css/create.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js")
  body
    #CreateBoard
      header
        h1.text-center atwater yoga
      form#board_form(method="POST" action="/board")
        h2.section-title CREATE BOARD
        div.required
          div.form-group
            p board title
            input#board_title.width100(type="text", placeholder="board title", required)
          div.form-group
            p board id (must be unique)
            input#board_id.width100(type="text", placeholder="board id", required)
          div.form-group
            p admin email
            input#board_admin_email.width100(type="text", placeholder="admin email", required)
          div.form-group
            p admin password
            input#board_admin_pw(type="password", placeholder="type password" required)
            input#board_admin_pw_conf(type="password", placeholder="confirm password" required)
        h2.section-title BOARD SETTINGS
        div.form-group.settings
          p.title features
          span.inline-block.tick
            span.inline-block.v-middle text
            input#board_features_text.inline-block.v-middle(type="checkbox" checked)
          span.inline-block.tick
            span.inline-block.v-middle img via url
            input#board_features_img_url.inline-block.v-middle(type="checkbox" checked)
          span.inline-block.tick
            span.inline-block.v-middle img upload
            input#board_features_img_upload.inline-block.v-middle(type="checkbox" checked)
          span.inline-block.tick
            span.inline-block.v-middle doodle
            input#board_features_doodle.inline-block.v-middle(type="checkbox" checked)

          p.title privacy
          span.inline-block.tick
            span.inline-block.v-middle board private
            input#board_private.inline-block.v-middle(type="checkbox")
          span.inline-block.tick
            span.inline-block.v-middle board form private
            input#client_private.inline-block.v-middle(type="checkbox")
        div.form-group
          input#board_submit.block.submit(type="submit", disabled)
    script(src="/js/commons.js")
    script(src="/js/create.bundle.js")


