doctype html
html
  head
    title= board.title + " | @yoga"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="/css/src.bundle.css")
  body
    #YogaIndex.text-center
      h1 Welcome to #[span.inline-block= board.title + "!"]
      h2 Choose your path:

      div.links
        span.link.block
          a(href= board._id + "/view") view board
          if board._id == "demo"
            p.sub open this in/on one window/device
        span.link.block
          a(href= board._id + "/remote") view remote
          if board._id == "demo"
            p.sub open this in/on another window/device
        span.link.block
          a(href= board._id + "/admin") view admin
