#client_link {
  position: absolute;
  bottom: 0;
  padding: 0.66em;
  right: 0;
  font-size: 1.33em;
  font-weight: 700;
  color: black;
}

#Board {
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .el {
    position: absolute;
    animation: glow-in 0.5s ease;

    &.glow-out {
      animation: glow-out 0.5s forwards ease;
    }
  }
}

@keyframes glow-in {
  0% {
    opacity: 0;
    transform: translateY(10%)
  }
  100% {
    opacity: 1;
    transform: translateY(0%)
  }
}

@keyframes glow-out {
  to {
    opacity: 0;
    transform: translateY(-10%)
  }
}

@media screen and (max-width: 400px) {
  #client_link {
    font-size: 6vw;
  }
}
