#ClientForm {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;

  header {
    padding: 60px 0;

    .title {
      font-size: 2.33em;
      margin-bottom: 0.33em;
    }

    .sub {

      &:before, &:after {
        content: '';
        flex: 1;
        height: 2px;
        width: 100%;
        background: black;
        margin: auto 1em;
      }
    }
  }

  .client-block {
    padding-bottom: 40px;

    .label {
      height: 40px;

      .switch {
        width: 30px;
        height: 30px;

        line {
          transform-origin: 50px 50px;
          transition: transform 0.33s ease;
        }

        &.active {
          line:nth-of-type(1) {
            transform: rotateZ(-180deg)
          }
          line:nth-of-type(2) {
            transform: rotateZ(270deg)
          }
        }
      }
    }
  }
}
